/**************
navigation nav_dropdown
**************/
.nav_dropdown {
	display: inline-block;
	position: relative;
}

.nav_dropdown_content {
	display: none;
	position: absolute;
	min-width: 100%;
	overflow: auto; 
	background-color: #FFFFFF;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.nav_dropdown:hover .nav_dropdown_content, 	.nav_dropdown_button:focus + .nav_dropdown_content {
	display: block;
}

.nav_dropdown_content a {
	display: block;
	color: #000000;
	padding: 5px;
	text-decoration: none;
}

.nav_dropdown_content a:hover, .nav_dropdown_content a:focus  {
	color: #FFFFFF;
	background-color: #00A4BD;
}

/**************
toggle hide styles
**************/
.toggle_hide_button, .toggle_hide_button:hover, .toggle_hide_button:focus {
	background-color: #00A4BD;
}

.hide {
	display: none;
}

.hide_toogle_button {
	background-color: #ccc;
}


/**************
table pages
**************/
#toggle_hide_buttons p  {
	display: inline-block;
}

.toggle_hide_button {
	background-color: #2196F3;
	display: inline-block;
}

table {
	margin: 0 auto;
	border-spacing: 0px;
}

th, td {
	padding: 0.5em;
}

/**************
data analysis pages
**************/

td[class$='_percentage']::after {
	content: "%";
}

/**************
chart and table columns
**************/
figcaption, .chart_table thead  {
	background-color: rgb(255, 255, 255);
	text-align: left;
	padding: 0.5em;
	font-weight: bold;
	font-size: 1.5em;
}

.chart_row, .chart_column {
	margin: 0 auto;
	display: block;
}

.chart_column {
	display: inline-block;
	width: 95vw;
}

.chart_figure, .chart_table {
	width: 100%;
}

.chart_figure {
	vertical-align: top;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.chart_row:after {
	content: "";
	display: table;
	clear: both;
}

/**************
color picker
**************/

.color_selectors_button {
	border-radius: 0.5em;
	padding: 0.5em;
}

.color_selectors > * {
	vertical-align: top;
	display: inline-block;
	max-width: 5em;
	margin: 0.25em;
	padding: 1em;
}

.color_selector {
	background-color: rgba(92, 157, 52, 1.0);
	border-radius: 0.5em;
}

.add_color_button {
	height: 100%;
	border-radius: 0.5em;
}

.color_swatch {
	height: 3.75em;
	width: 3.75em;
}

.color_text_input {
	margin-left: .25em;
}

.color_slider {
	margin: 0.25em auto;
	width: 100%;
}

.color_r, .color_g, .color_b {
	display: block;
}


