/**************
navigation nav_dropdown
**************/
.nav_dropdown {
	display: inline-block;
	position: relative;
}

.nav_dropdown_content {
	display: none;
	position: absolute;
	min-width: 100%;
	overflow: auto; 
	background-color: #FFFFFF;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.nav_dropdown:hover .nav_dropdown_content, 	.nav_dropdown_button:focus + .nav_dropdown_content {
	display: block;
}

.nav_dropdown_content a {
	display: block;
	color: #000000;
	padding: 5px;
	text-decoration: none;
}

.nav_dropdown_content a:hover, .nav_dropdown_content a:focus  {
	color: #FFFFFF;
	background-color: #00A4BD;
}

/**************
table pages
**************/
#toggle_hide_buttons p  {
	display: inline-block;
}

.toggle_hide_button {
	background-color: #2196F3;
	display: inline-block;
}

table {
	margin: 0 auto;
	border-spacing: 0px;
}

td {
	padding: 0.5em;
}

/**************
song table page
**************/

#songs_table_data .song_title::before {
	content: open-quote;
}

#songs_table_data .song_title::after {
	content: close-quote;
}

#songs_table_data .song_album {
	font-style: italic;
}

/**************
data analysis pages
**************/

td[class$='_percentage']::after {
	content: "%";
}

figcaption {
	 text-align:center;
}

/**************
svg
**************/

.pie_chart {
  margin: 0 auto;
  display: block;
}

/**************
color picker
**************/
	
.color_swatch {
	height: 3.75em;
	width: 3.75em;
}

.color_selector {
	padding: 1em;
	background-color: rgba(92, 157, 52, 1.0);
	border-radius: 0.5em;
	max-width: 5em;
	margin: 0.25em;
	display: inline-block;
}

.color_text_input {
	margin-left: .25em;
}

.color_slider {
	margin: 0.25em auto;
	width: 100%;
}

.color_r, .color_g, .color_b {
	display: block;
}

.add_color_button {
	display: inline-block;
	height: 100%;
	max-width: 5em;
}